/* Resets everything */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

/* Global */

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  font-size: 1.6rem;
  overflow: hidden;
}

.main {
  height: 100%;
  width: 100%;
  /* CSS smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* Navigation */
#nav-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 6rem;
  background: rgba(0, 0, 0, 0.7);
}

#nav-bar h3 {
  padding-left: 2rem;
  padding-top: 1rem;
}

#nav-bar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 70%;
}

#nav-bar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

#nav-bar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

#nav-bar ul li a:hover {
  color: skyblue;
}

#nav-bar #header-img {
  max-width: 5rem;
  padding-left: 1rem;
}

/* Section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  scroll-snap-align: center;
}

.container {
  width: 50vw;
  padding: 2rem;
}

section h1 {
  font-size: 4rem;
  font-weight: 800;
}

section p {
  font-size: 1.6rem;
  font-weight: 800;
}

#home-section {
  background: url("https://images.unsplash.com/photo-1546393009-ef37dc6dfd35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80")
    no-repeat center center/cover;
}

#about-section {
  background: url("https://images.unsplash.com/photo-1507066274042-8a683a1e6ffe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80")
    no-repeat center center/cover;
}

#gallery-section {
  background: url("https://images.unsplash.com/photo-1530648672449-81f6c723e2f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=680&q=80")
    no-repeat center center/cover;
}

#contact-section {
  position: relative;
  background: url("https://images.unsplash.com/photo-1517433367423-c7e5b0f35086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=346&q=80")
    no-repeat center center/cover;
}

/* form */

input[text] {
  width: 100%;
}

input,
label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto;
}

#submit {
  padding: 5px 15px;
  background: #b9dfff;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#submit:hover {
  background: #016abc;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 1rem;
}

/* Image slideshow */
/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.wrapper {
  max-width: 40em;
  margin: 1em auto;
  position: relative;
}

.radio-input {
  display: none;
}

.inner {
  width: 500%;
  line-height: 0;
}

.img-div {
  width: 20%;
  float: left;
  position: relative;
}

.img-div img,
.img-div #video {
  width: 100%;
  height: 26.438em;
}

/*---- SET UP CONTROL ----*/
.slider-prev-next-control {
  height: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider-prev-next-control label {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7;
}
.slider-prev-next-control label:hover {
  opacity: 1;
}

.slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.slider-dot-control label {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.slider-dot-control label:hover {
  background: #ccc;
  border-color: #777;
}
/* Slider Styling */
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
  background: #fff;
  background: #fcfff4;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.slider-wrapper .inner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after,
#slide3:checked ~ .slider-prev-next-control label:nth-child(1)::after,
#slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after,
#slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slide1:checked ~ .slider-prev-next-control label:nth-child(3)::after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin: 0;
  line-height: 38px;
  font-size: 3em;
  display: block;
  color: #777;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after,
#slide3:checked ~ .slider-prev-next-control label:nth-child(1)::after {
  content: "\f105";
  padding-left: 1rem;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(2),
#slide2:checked ~ .slider-prev-next-control label:nth-child(3),
#slide3:checked ~ .slider-prev-next-control label:nth-child(1) {
  display: block;
  float: right;
  margin-right: 5px;
}

#slide2:checked ~ .slider-prev-next-control label:nth-child(1),
#slide3:checked ~ .slider-prev-next-control label:nth-child(2),
#slide1:checked ~ .slider-prev-next-control label:nth-child(3) {
  display: block;
  float: left;
  margin-left: 5px;
}

#slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after,
#slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after,
#slide1:checked ~ .slider-prev-next-control label:nth-child(3)::after {
  content: "\f104";
}

#slide1:checked ~ .slider-dot-control label:nth-child(1),
#slide2:checked ~ .slider-dot-control label:nth-child(2),
#slide3:checked ~ .slider-dot-control label:nth-child(3) {
  background: #333;
}

#slide1:checked ~ .slider-wrapper .inner {
  margin-left: 0%;
}

#slide2:checked ~ .slider-wrapper .inner {
  margin-left: -100%;
}

#slide3:checked ~ .slider-wrapper .inner {
  margin-left: -200%;
}

#slide4:checked ~ .slider-wrapper .inner {
  margin-left: -300%;
}

#slide5:checked ~ .slider-wrapper .inner {
  margin-left: -400%;
}

/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }
}
/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }

  .slider-wrapper .info {
    opacity: 0;
  }
}
